body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 
      "header header"
      "nav main"
      "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.breadcrumb {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: grey;
}

header, footer {
  grid-area: header;
  background: #333;
  color: white;
  padding: 1rem;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background: #f4f4f4;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  text-align: center;
}

aside, main, footer {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: #ddd;
}

@media (max-width: 600px) {
  body {
      grid-template-areas: 
          "header"
          "nav"
          "main"
          "footer";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
  }

  nav ul {
      display: flex;
      flex-direction: column;
  }

  nav ul li a {
    background-color: transparent; 
  }

nav ul li a:hover, nav ul li a.active {
    background-color: #ddd;
    color: black;
  }

nav ul li a.active {
    font-weight: bold;
  }

}
